/* About Us Section */
.about-us {
    background-color: white;
    position: relative;
}

.about-heading {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
}

.about-heading .black-text {
    color: black;
    display: block;
}

.about-heading .orange-text {
    color: #f58220; /* Azania orange */
    display: block;
}

.about-text {
    font-size: 1.05rem;
    line-height: 1.8;
    color: #000;
}

.decor-line {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 120px;
    opacity: 0.8;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .about-heading {
        font-size: 3rem;
        text-align: center;
    }
    .decor-line {
        display: none; /* Hide curve on small screens */
    }
    .about-text {
        text-align: center;
    }
}



/* Why Us Section */
.why-us {
    background-color: #fff;
}

.why-heading {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.why-heading .black-text {
    color: #000;
}

.why-heading .orange-text {
    color: #f58220;
}

.why-list li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.why-list i {
    color: #f58220;
    font-size: 1.5rem;
    margin-right: 0.8rem;
}

.why-image {
    max-width: 80%;
}


.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.social-icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background-color: black;
    color: white;
}


@media (max-width: 768px) {
    .why-heading {
        font-size: 2.5rem;
        text-align: center;
    }
    .why-list {
        text-align: center;
    }
}
